.painel{
    padding: 3em;
    color: rgb(124, 124, 124);
}

.painel-info-cards{
    width: 100%;
    display: flex;
}

.info-card {
    color: #fff;
    max-width: 25%;
    margin: 1em 2em 1em 0;
  }

  .verde{background-color: rgb(180, 206, 137);}
  .amarelo{background-color: rgb(224, 231, 127);}
  .vermelho{background-color: indianred;}