<div class="painel">
    <h2>Monitoramento</h2>
    <mat-divider></mat-divider>
    <div class="painel-info-cards">
        <mat-card class="info-card verde">
            <mat-card-title-group>
              <mat-card-title>100</mat-card-title>
              <mat-card-subtitle>Disponibilziados para movimentação</mat-card-subtitle>
              <!--<img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >-->
            </mat-card-title-group>
            <mat-card-content>
             Computadores, Monitores, Teclados
            </mat-card-content>
          </mat-card>
    
          <mat-card class="info-card amarelo">
            <mat-card-title-group>
              <mat-card-title>50</mat-card-title>
              <mat-card-subtitle>Ativos Pendentes</mat-card-subtitle>
              <!--<img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >-->
            </mat-card-title-group>
            <mat-card-content>
             Computadores, Monitores, Teclados
            </mat-card-content>
          </mat-card>
    
          <mat-card class="info-card vermelho">
            <mat-card-title-group>
              <mat-card-title>10</mat-card-title>
              <mat-card-subtitle>Ativos com problemas</mat-card-subtitle>
              <!--<img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >-->
            </mat-card-title-group>
            <mat-card-content>
             Computadores, Monitores, Teclados
            </mat-card-content>
          </mat-card>
    </div>
    <h2>Últimas movimentações</h2>
    <mat-divider></mat-divider>
    <div class="ultimas-movimentacoes"></div>
</div>
