<div class="container">
    <div class="novo">
        <h2>Novo Cabo</h2>
        <button (click)="irParaFormCabo()" mat-flat-button color="primary">Novo Cabo</button>
    </div>
    <mat-divider></mat-divider>
    <div class="lista">
        <h2>Todos os Cabos</h2>
        <!--
            Lista de todos os cabos
        -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
            </ng-container>
            <ng-container matColumnDef="fabricante">
                <th mat-header-cell *matHeaderCellDef> Fabricante </th>
                <td mat-cell *matCellDef="let element"> {{element.fabricante}} </td>
            </ng-container>
            <ng-container matColumnDef="mais">
                <th mat-header-cell *matHeaderCellDef> Ver Mais </th>           
                <td mat-cell *matCellDef="let element">
                    <a class="vermais" (click)="verMais(element.id)">
                        <mat-icon>description</mat-icon>
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>