<mat-drawer-container class="container" autosize>
    <mat-drawer mode="side" opened class="side-nav">
        <mat-selection-list #opcoes [multiple]="false">
            <mat-list-option *ngFor="let nav of navegacoes" (click)="onSelect(nav)">              
              <mat-nav-list>
                <a mat-list-item routerLink="/{{nav.nome}}"> {{ nav.descricao }} </a>
             </mat-nav-list>
            </mat-list-option>
          </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  
   
  
  </mat-drawer-container>